<section class="plans">
    <div class="page__container">
		<div class="plans__inner">
				<div class="plans__title">
					<h2>Пакети послуг</h2>
				</div>

				<div class="plans__list">
					<div class="plans__item">
						<div class="plans__content">
							<div class="plans__card blue">
								<div class="plans__card-title">
									<h3>Базовий</h3>
								</div>

								<div class="plans__card-desc">
									<p>Ідеальна платформа для аудиторії старшого віку. <br>Тут добре працюють спільноти інформаційних продуктів і широкого охоплення клієнтів.</p>
								</div>

								<div class="plans__card-price">
									<p>Від<span> 350  €</span></p>
								</div>

								<a href="#" class="page__button plans__card-btn">Замовити</a>
							</div>
						</div>

						<ul class="plans__features">
							<li class="plans__features-item">
								<p>Аналіз цільової аудиторії</p>
							</li>

							<li class="plans__features-item">
								<p>Налаштування однієї рекламної кампанії</p>
							</li>

							<li class="plans__features-item">
								<p>Налаштування пікселів відстеження (Facebook, VK)</p>
							</li>

							<li class="plans__features-item">
								<p>Підготовка 2-3 рекламних креативів</p>
							</li>

							<li class="plans__features-item">
								<p>Щотижневий звіт щодо результатів</p>
							</li>
						</ul>
					</div>

					<div class="plans__item max">
						<div class="plans__content">
							<div class="plans__card yellow">
								<div class="plans__card-title">
									<h3>Оптимальний</h3>
								</div>

								<div class="plans__card-desc">
									<p>Ідеальна платформа для аудиторії старшого віку. <br>Тут добре працюють спільноти інформаційних продуктів і широкого охоплення клієнтів.</p>
								</div>

								<div class="plans__card-price">
									<p>Від<span> 400  €</span></p>
								</div>

								<a href="#" class="page__button plans__card-btn">Замовити</a>
							</div>
						</div>

						<ul class="plans__features">
							<li class="plans__features-item">
								<p>Розширений аналіз конкурентів та ЦА</p>
							</li>

							<li class="plans__features-item">
								<p>Налаштування до 3 рекламних кампаній</p>
							</li>

							<li class="plans__features-item">
								<p>Тестування різних форматів об’яв</p>
							</li>

							<li class="plans__features-item">
								<p>Підготовка до 5 креативів</p>
							</li>

							<li class="plans__features-item">
								<p>Оптимізація кампаній з урахуванням аналітики</p>
							</li>
						</ul>
					</div>

					<div class="plans__item">
						<div class="plans__content">
							<div class="plans__card black">
								<div class="plans__card-title">
									<h3>Індивідуальний</h3>
								</div>

								<div class="plans__card-desc">
									<p>Ідеальна платформа для аудиторії старшого віку. <br>Тут добре працюють спільноти інформаційних продуктів і широкого охоплення клієнтів.</p>
								</div>

								<div class="plans__card-price">
									<p>Від<span> 500  €</span></p>
								</div>

								<a href="#" class="page__button plans__card-btn">Замовити</a>
							</div>
						</div>

						<ul class="plans__features">
							<li class="plans__features-item">
								<p>Розробка стратегії під ваш бізнес</p>
							</li>

							<li class="plans__features-item">
								<p>Налаштування 5 рекламних кампаній</p>
							</li>

							<li class="plans__features-item">
								<p>Створення унікальних рекламних матеріалів</p>
							</li>

							<li class="plans__features-item">
								<p>Постійна аналітика та масштабування</p>
							</li>

							<li class="plans__features-item">
								<p>Особисте супроводження фахівця</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</section>