<section class="targetvalues">
	<div class="page__container">
		<div class="targetvalues__inner">
			<div class="targetvalues__title">
				<h2>Таргетована реклама</h2>
			</div>

			<div class="targetvalues__items">
				<div class="targetvalues__item">
					<div class="targetvalues__item-head">
						<div class="targetvalues__item-img">
							<img src="/images/target_img1.jpg" alt="target1">

							<div class="targetvalues__item-info">
								<h4>Таргетована реклама</h4>
								<p>DigiSack, CEO</p>
							</div>
						</div>
						
						<div class="targetvalues__item-content">
							<button type="button" class="targetvalues__item-btn" data-bs-toggle="collapse" data-bs-target="#targetvalues_1" aria-expanded="false" aria-controls="targetvalues">
								Що таке таргетована реклама
							</button>

							<div class="targetvalues__item-desc">
								<p>Це ефективний інструмент інтернет-маркетингу, який дозволяє показувати рекламні оголошення саме тим людям, які потенційно зацікавлені у вашому продукті чи послузі. На відміну від традиційної реклами, таргетована реклама орієнтується на конкретну аудиторію за допомогою сучасних технологій аналізу даних.</p>
							</div>
						</div>
					</div>

					<div class="collapse" id="targetvalues_1">
						<div class="targetvalues__item-collapse">
							<div class="targetvalues__item-desc">
								<p>Це ефективний інструмент інтернет-маркетингу, який дозволяє показувати рекламні оголошення саме тим людям, які потенційно зацікавлені у вашому продукті чи послузі. На відміну від традиційної реклами, таргетована реклама орієнтується на конкретну аудиторію за допомогою сучасних технологій аналізу даних.</p>
							</div>

							<div class="targetvalues__item-text">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iste non, mollitia odio molestiae corporis quas harum voluptate qui hic officia quod nostrum cupiditate distinctio, ea repudiandae possimus doloribus ratione!
								Alias, minus perferendis quia, facere fugiat porro sint mollitia officia adipisci nemo necessitatibus aspernatur ut iure quas, deleniti magnam dolores optio asperiores ullam non in sed error culpa. Numquam, inventore!
								Consequatur nisi doloribus magnam at deserunt exercitationem necessitatibus! Esse, modi recusandae? Voluptas dolorum accusamus repellendus quidem, minus consequuntur nisi, quos repudiandae reiciendis maiores alias animi fugit veniam! Mollitia, doloremque facere.
								Numquam, adipisci doloremque sed cum minima doloribus minus nihil perferendis perspiciatis reprehenderit eum consequuntur quasi eos atque nobis voluptatum! Rerum facere odit eaque totam aspernatur incidunt autem molestiae cum deserunt.
								Ex quis eligendi perferendis veniam temporibus sunt voluptas, exercitationem voluptatibus earum cum sequi enim laborum necessitatibus rem placeat dolorem soluta, nobis dolores vero? Placeat nemo distinctio fugit quae eveniet libero!
								Corporis quis soluta maxime expedita ad voluptate porro natus rem quas placeat? Explicabo corporis, eum tempore porro maxime voluptas! Corrupti autem dolorum mollitia asperiores laudantium sequi consectetur veniam ut amet!
								Accusamus earum hic explicabo quisquam ipsa minus consequatur soluta saepe ut adipisci corporis molestiae doloremque enim iste placeat provident, modi obcaecati amet similique voluptatibus. Dolore rem harum maiores ut consequatur.
								Ipsa reprehenderit pariatur quia quod, incidunt accusamus, eius corrupti atque eveniet, facere saepe dolore cum nemo nostrum libero similique fuga earum? Eaque dolorem dolorum laudantium ullam eos maxime consequatur sint.
								Aspernatur qui a blanditiis fuga, accusantium quaerat ullam molestiae aliquam unde? Vero amet velit sapiente voluptatem modi aut excepturi aliquid voluptatum porro? Fugiat consectetur reprehenderit sapiente, ipsum consequuntur doloremque optio.
								Recusandae error voluptatem quia nihil repellat sapiente est, tempore animi voluptatum, distinctio consequuntur reiciendis ex quae incidunt ab? Nulla, quas repellat maiores voluptatum perspiciatis quo doloribus vel ab nesciunt! Fugit.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="targetvalues__item">
					<div class="targetvalues__item-head">
						<div class="targetvalues__item-img">
							<img src="/images/target_img2.jpg" alt="target2">

							<div class="targetvalues__item-info">
								<h4>Таргетована реклама</h4>
								<p>DigiSack, CEO</p>
							</div>
						</div>
						
						<div class="targetvalues__item-content">
							<button type="button" class="targetvalues__item-btn" data-bs-toggle="collapse" data-bs-target="#targetvalues_2" aria-expanded="false" aria-controls="targetvalues">
								Як працює?
							</button>

							<div class="targetvalues__item-desc">
								<p>Таргетована реклама використовує алгоритми для визначення вашої цільової аудиторії. Це може бути здійснено на основі таких критеріїв:</p>
								<ul>
									<li>Вік, стать, місце проживання.</li>
									<li>Інтереси та вподобання. Наприклад, спорт, подорожі, мода чи технології.</li>
									<li>Поведінка користувачів в інтернеті. Що вони шукають, які сайти відвідують чи покупки роблять.</li>
									<li>Соціальний статус або професія.</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="collapse" id="targetvalues_2">
						<div class="targetvalues__item-collapse">
							<div class="targetvalues__item-desc">
								<p>Таргетована реклама використовує алгоритми для визначення вашої цільової аудиторії. Це може бути здійснено на основі таких критеріїв:</p>
								<ul>
									<li>Вік, стать, місце проживання.</li>
									<li>Інтереси та вподобання. Наприклад, спорт, подорожі, мода чи технології.</li>
									<li>Поведінка користувачів в інтернеті. Що вони шукають, які сайти відвідують чи покупки роблять.</li>
									<li>Соціальний статус або професія.</li>
								</ul>
							</div>

							<div class="targetvalues__item-text">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iste non, mollitia odio molestiae corporis quas harum voluptate qui hic officia quod nostrum cupiditate distinctio, ea repudiandae possimus doloribus ratione!
								Alias, minus perferendis quia, facere fugiat porro sint mollitia officia adipisci nemo necessitatibus aspernatur ut iure quas, deleniti magnam dolores optio asperiores ullam non in sed error culpa. Numquam, inventore!
								Consequatur nisi doloribus magnam at deserunt exercitationem necessitatibus! Esse, modi recusandae? Voluptas dolorum accusamus repellendus quidem, minus consequuntur nisi, quos repudiandae reiciendis maiores alias animi fugit veniam! Mollitia, doloremque facere.
								Numquam, adipisci doloremque sed cum minima doloribus minus nihil perferendis perspiciatis reprehenderit eum consequuntur quasi eos atque nobis voluptatum! Rerum facere odit eaque totam aspernatur incidunt autem molestiae cum deserunt.
								Ex quis eligendi perferendis veniam temporibus sunt voluptas, exercitationem voluptatibus earum cum sequi enim laborum necessitatibus rem placeat dolorem soluta, nobis dolores vero? Placeat nemo distinctio fugit quae eveniet libero!
								Corporis quis soluta maxime expedita ad voluptate porro natus rem quas placeat? Explicabo corporis, eum tempore porro maxime voluptas! Corrupti autem dolorum mollitia asperiores laudantium sequi consectetur veniam ut amet!
								Accusamus earum hic explicabo quisquam ipsa minus consequatur soluta saepe ut adipisci corporis molestiae doloremque enim iste placeat provident, modi obcaecati amet similique voluptatibus. Dolore rem harum maiores ut consequatur.
								Ipsa reprehenderit pariatur quia quod, incidunt accusamus, eius corrupti atque eveniet, facere saepe dolore cum nemo nostrum libero similique fuga earum? Eaque dolorem dolorum laudantium ullam eos maxime consequatur sint.
								Aspernatur qui a blanditiis fuga, accusantium quaerat ullam molestiae aliquam unde? Vero amet velit sapiente voluptatem modi aut excepturi aliquid voluptatum porro? Fugiat consectetur reprehenderit sapiente, ipsum consequuntur doloremque optio.
								Recusandae error voluptatem quia nihil repellat sapiente est, tempore animi voluptatum, distinctio consequuntur reiciendis ex quae incidunt ab? Nulla, quas repellat maiores voluptatum perspiciatis quo doloribus vel ab nesciunt! Fugit.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="targetvalues__item">
					<div class="targetvalues__item-head">
						<div class="targetvalues__item-img">
							<img src="/images/target_img3.jpg" alt="target3">

							<div class="targetvalues__item-info">
								<h4>Таргетована реклама</h4>
								<p>DigiSack, CEO</p>
							</div>
						</div>
						
						<div class="targetvalues__item-content">
							<button type="button" class="targetvalues__item-btn" data-bs-toggle="collapse" data-bs-target="#targetvalues_3" aria-expanded="false" aria-controls="targetvalues">
								Для кого підходить таргетована реклама?
							</button>

							<div class="targetvalues__item-desc">
								<p>Ідеально підходить для бізнесів будь-якого розміру, стартапів, інтернет-магазинів, локальних підприємств та великих компаній, які хочуть ефективно доносити свої пропозиції до конкретних груп споживачів.</p>
							</div>
						</div>
					</div>

					<div class="collapse" id="targetvalues_3">
						<div class="targetvalues__item-collapse">
							<div class="targetvalues__item-desc">
								<p>Ідеально підходить для бізнесів будь-якого розміру, стартапів, інтернет-магазинів, локальних підприємств та великих компаній, які хочуть ефективно доносити свої пропозиції до конкретних груп споживачів.</p>
							</div>

							<div class="targetvalues__item-text">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iste non, mollitia odio molestiae corporis quas harum voluptate qui hic officia quod nostrum cupiditate distinctio, ea repudiandae possimus doloribus ratione!
								Alias, minus perferendis quia, facere fugiat porro sint mollitia officia adipisci nemo necessitatibus aspernatur ut iure quas, deleniti magnam dolores optio asperiores ullam non in sed error culpa. Numquam, inventore!
								Consequatur nisi doloribus magnam at deserunt exercitationem necessitatibus! Esse, modi recusandae? Voluptas dolorum accusamus repellendus quidem, minus consequuntur nisi, quos repudiandae reiciendis maiores alias animi fugit veniam! Mollitia, doloremque facere.
								Numquam, adipisci doloremque sed cum minima doloribus minus nihil perferendis perspiciatis reprehenderit eum consequuntur quasi eos atque nobis voluptatum! Rerum facere odit eaque totam aspernatur incidunt autem molestiae cum deserunt.
								Ex quis eligendi perferendis veniam temporibus sunt voluptas, exercitationem voluptatibus earum cum sequi enim laborum necessitatibus rem placeat dolorem soluta, nobis dolores vero? Placeat nemo distinctio fugit quae eveniet libero!
								Corporis quis soluta maxime expedita ad voluptate porro natus rem quas placeat? Explicabo corporis, eum tempore porro maxime voluptas! Corrupti autem dolorum mollitia asperiores laudantium sequi consectetur veniam ut amet!
								Accusamus earum hic explicabo quisquam ipsa minus consequatur soluta saepe ut adipisci corporis molestiae doloremque enim iste placeat provident, modi obcaecati amet similique voluptatibus. Dolore rem harum maiores ut consequatur.
								Ipsa reprehenderit pariatur quia quod, incidunt accusamus, eius corrupti atque eveniet, facere saepe dolore cum nemo nostrum libero similique fuga earum? Eaque dolorem dolorum laudantium ullam eos maxime consequatur sint.
								Aspernatur qui a blanditiis fuga, accusantium quaerat ullam molestiae aliquam unde? Vero amet velit sapiente voluptatem modi aut excepturi aliquid voluptatum porro? Fugiat consectetur reprehenderit sapiente, ipsum consequuntur doloremque optio.
								Recusandae error voluptatem quia nihil repellat sapiente est, tempore animi voluptatum, distinctio consequuntur reiciendis ex quae incidunt ab? Nulla, quas repellat maiores voluptatum perspiciatis quo doloribus vel ab nesciunt! Fugit.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="targetvalues__content page__bg">
		<div class="page__container">
			<div class="targetvalues__details">
				<div class="targetvalues__info">
					<div class="targetvalues__info-title">
						<h3>Платформи де ми запускаємо рекламу</h3>
					</div>

					<div class="targetvalues__info-desc">
						<p>Це вид просування, який дозволяє показувати ваші оголошення саме тій аудиторії, яка з найбільшою ймовірністю зацікавиться вашим продуктом чи послугою. На відміну від традиційних методів реклами, таргетинг дає можливість налаштовувати кампанії за різними параметрами</p>
					</div>
				</div>

				<div class="targetvalues__cards">
					<div class="targetvalues__card targetvalues__card_bg">
						<div class="targetvalues__card-head">
							<div class="targetvalues__card-icon">
								<svg><use xlink:href="#sprite-facebook_circle"></use></svg>
							</div>

							<div class="targetvalues__card-title">
								<h4>Таргетована реклама в FaceBook</h4>
							</div>
						</div>

						<div class="targetvalues__card-desc">
							<p>Ідеальна платформа для аудиторії старшого віку. <br> Тут добре працюють спільноти, детальний таргетинг і ремаркетинг. Facebook чудово підходить для складних пропозицій, інформаційних продуктів і широкого охоплення клієнтів.</p>
						</div>

						<div class="targetvalues__card-action">
							<a href="#" class="page__button page__button_black targetvalues__card-link">
								<span>Детальніше про послугу</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="targetvalues__card">
						<div class="targetvalues__card-head">
							<div class="targetvalues__card-icon">
								<svg><use xlink:href="#sprite-instagram_round"></use></svg>
							</div>

							<div class="targetvalues__card-title">
								<h4>Таргетована реклама в Instagram</h4>
							</div>
						</div>

						<div class="targetvalues__card-desc">
							<p>Візуальна платформа для стилю життя та натхнення. Аудиторія Instagram більше реагує на яскравий, креативний контент і сторіс. Це ідеальне середовище для брендів, які хочуть бути на хвилі трендів.</p>
						</div>

						<div class="targetvalues__card-action">
							<a href="#" class="page__button page__button_black targetvalues__card-link">
								<span>Детальніше про послугу</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="targetvalues__card">
						<div class="targetvalues__card-head">
							<div class="targetvalues__card-icon">
								<svg><use xlink:href="#sprite-linkedin"></use></svg>
							</div>

							<div class="targetvalues__card-title">
								<h4>Таргетована реклама в Linkedin</h4>
							</div>
						</div>

						<div class="targetvalues__card-desc">
							<p>Візуальна платформа для стилю життя та натхнення. Аудиторія Instagram більше реагує на яскравий, креативний контент і сторіс. Це ідеальне середовище для брендів, які хочуть бути на хвилі трендів.</p>
						</div>

						<div class="targetvalues__card-action">
							<a href="#" class="page__button page__button_black targetvalues__card-link">
								<span>Детальніше про послугу</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="targetvalues__card">
						<div class="targetvalues__card-head">
							<div class="targetvalues__card-icon">
								<svg><use xlink:href="#sprite-tiktok"></use></svg>
							</div>

							<div class="targetvalues__card-title">
								<h4>Таргетована реклама в Tiktok</h4>
							</div>
						</div>

						<div class="targetvalues__card-desc">
							<p>Ідеальна платформа для аудиторії старшого віку. <br> Тут добре працюють спільноти, детальний таргетинг і ремаркетинг. Facebook чудово підходить для складних пропозицій, інформаційних продуктів і широкого охоплення клієнтів.</p>
						</div>

						<div class="targetvalues__card-action">
							<a href="#" class="page__button page__button_black targetvalues__card-link">
								<span>Детальніше про послугу</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>