<section class="targeting">
	<div class="page__container">
		<div class="targeting__inner">
			<div class="targeting__content">
				<div class="targeting__title">
					<h1>Таргетована реклама</h1>
				</div>

				<div class="targeting__slogan">
					<p class="js-slogan" data-slogans="
						Просто робимо й гарантуємо результат. Ви контролюєте метрики, ми — фокусуємось на KPI|
						Ви ставите цілі — ми досягаємо результатів. Маркетинг, що працює. Бізнес, що зростає|
						Знаходимо рішення, які приносять результат. Ваш прибуток — наша стратегія|
						Залучаємо, утримуємо, масштабуємо. Ми — драйвер вашого зростання">
					</p>
				</div>

				<a href="#" class="page__button page__button_black targeting__btn">
					<span>Замовити аудит проекту</span>
					<svg><use xlink:href="#sprite-link_arrow"></use></svg>
				</a>
			</div>

			<div class="targeting__details js-targeting-socials">
				<div class="targeting__img">
					<picture>
						<source srcset="/images/targeting_mob.png" media="(max-width: 768px)" />
						<img src="/images/targeting.png" alt="targeting">
					</picture>
				</div>

				<div class="targeting__social instagram js-targeting-social">
					<div class="targeting__social-icon">
						<svg><use xlink:href="#sprite-instagram_round"></use></svg>
					</div>

					<div class="targeting__social-content">
						<div class="targeting__social-title">
							<h3>Таргетована реклама в Instagram</h3>
						</div>

						<div class="targeting__social-desc">
							<p>Це ідеальне середовище для брендів, які хочуть бути на хвилі трендів.</p>
						</div>
					</div>

					<a href="#" class="targeting__social-link">link</a>
				</div>

				<div class="targeting__social facebook js-targeting-social">
					<div class="targeting__social-icon">
						<svg><use xlink:href="#sprite-facebook_circle"></use></svg>
					</div>

					<div class="targeting__social-content">
						<div class="targeting__social-title">
							<h3>Таргетована реклама в Facebook</h3>
						</div>

						<div class="targeting__social-desc">
							<p>Це ідеальне середовище для брендів, які хочуть бути на хвилі трендів.</p>
						</div>
					</div>

					<a href="#" class="targeting__social-link">link</a>
				</div>

				<div class="targeting__social linkedin js-targeting-social">
					<div class="targeting__social-icon">
						<svg><use xlink:href="#sprite-linkedin"></use></svg>
					</div>

					<div class="targeting__social-content">
						<div class="targeting__social-title">
							<h3>Таргетована реклама в Linkedin</h3>
						</div>

						<div class="targeting__social-desc">
							<p>Це ідеальне середовище для брендів, які хочуть бути на хвилі трендів.</p>
						</div>
					</div>

					<a href="#" class="targeting__social-link">link</a>
				</div>

				<div class="targeting__social tiktok js-targeting-social">
					<div class="targeting__social-icon">
						<svg><use xlink:href="#sprite-tiktok"></use></svg>
					</div>
					
					<div class="targeting__social-content">
						<div class="targeting__social-title">
							<h3>Таргетована реклама в Tik Tok</h3>
						</div>

						<div class="targeting__social-desc">
							<p>Це ідеальне середовище для брендів, які хочуть бути на хвилі трендів.</p>
						</div>
					</div>

					<a href="#" class="targeting__social-link">link</a>
				</div>

				<div class="targeting__stats">
					<div class="targeting__stat">
						<div class="targeting__stat-main">
							<p class="js-counter" data-target="114">
								<span>0</span>
								<span>+</span>
							</p>
						</div>

						<div class="targeting__stat-desc">
							<p>активних проєктів</p>
						</div>
					</div>

					<div class="targeting__stat">
						<div class="targeting__stat-main">
							<p class="js-counter" data-target="93">
								<span>0</span>
								<span>%</span>
							</p>
						</div>

						<div class="targeting__stat-desc">
							<p>клієнтів продовжують з нами роботу</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="targeting__stats targeting__stats_mob">
		<div class="targeting__stat">
			<div class="targeting__stat-main">
				<p class="js-counter" data-target="114">
					<span>0</span>
					<span>+</span>
				</p>
			</div>

			<div class="targeting__stat-desc">
				<p>активних проєктів</p>
			</div>
		</div>

		<div class="targeting__stat">
			<div class="targeting__stat-main">
				<p class="js-counter" data-target="93">
					<span>0</span>
					<span>%</span>
				</p>
			</div>

			<div class="targeting__stat-desc">
				<p>клієнтів продовжують з нами роботу</p>
			</div>
		</div>
	</div>
</section>