<div class="offcanvas offcanvas-start sidebar" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
	<div class="offcanvas-body sidebar__body">
		<div class="sidebar__top">
			<div class="sidebar__logo">
				<a href="/" class="sidebar__logo-link">
					<svg><use href="#sprite-logo"></use></svg>
				</a>
			</div>

			<div class="sidebar__close">
				<button type="button" class="btn-close sidebar__close-button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
		</div>

		<nav class="sidebar__nav js-sidebar-nav">
			<ul class="sidebar__menu">
				<li class="sidebar__menu-item sidebar__menu-item_submenu">
					<div class="sidebar__menu-link">
						<span>Послуги</span>
						<svg><use xlink:href="#sprite-arrow-thin"></use></svg>
					</div>

					<div class="sidebar__subnav">
						<ul class="sidebar__submenu">
							<li class="sidebar__submenu-item">
								<a href="/targeting/index.html" class="sidebar__submenu-link">
									<span>Таргетингова реклама</span>
									<svg><use xlink:href="#sprite-arrow-right"></use></svg>
								</a>
							</li>

							<li class="sidebar__submenu-item">
								<a href="#" class="sidebar__submenu-link">
									<span>Контекстна та медійна реклама</span>
									<svg><use xlink:href="#sprite-arrow-right"></use></svg>
								</a>
							</li>

							<li class="sidebar__submenu-item">
								<a href="#" class="sidebar__submenu-link">
									<span>SEO-просування сайтів</span>
									<svg><use xlink:href="#sprite-arrow-right"></use></svg>
								</a>
							</li>

							<li class="sidebar__submenu-item">
								<a href="#" class="sidebar__submenu-link">
									<span>SMM просування</span>
									<svg><use xlink:href="#sprite-arrow-right"></use></svg>
								</a>
							</li>

							<li class="sidebar__submenu-item">
								<a href="#" class="sidebar__submenu-link">
									<span>Аудит</span>
									<svg><use xlink:href="#sprite-arrow-right"></use></svg>
								</a>
							</li>

							<li class="sidebar__submenu-item">
								<a href="#" class="sidebar__submenu-link">
									<span>Розробка стратегій маркетингу та бренду</span>
									<svg><use xlink:href="#sprite-arrow-right"></use></svg>
								</a>
							</li>

							<li class="sidebar__submenu-item">
								<a href="#" class="sidebar__submenu-link">
									<span>Просування мобільних застосунків</span>
									<svg><use xlink:href="#sprite-arrow-right"></use></svg>
								</a>
							</li>

							<li class="sidebar__submenu-item">
								<a href="#" class="sidebar__submenu-link">
									<span>Розробка</span>
									<svg><use xlink:href="#sprite-arrow-right"></use></svg>
								</a>
							</li>

							<li class="sidebar__submenu-item">
								<a href="#" class="sidebar__submenu-link">
									<span>Digital аналітика</span>
									<svg><use xlink:href="#sprite-arrow-right"></use></svg>
								</a>
							</li>
						</ul>
					</div>
				</li>

				<li class="sidebar__menu-item">
					<a href="#about" class="sidebar__menu-link">
						<span>Про нас</span>
						<svg><use href="#sprite-arrow-thin"></use></svg>
					</a>
				</li>

				<li class="sidebar__menu-item">
					<a href="#cause" class="sidebar__menu-link">
						<span>Кейси</span>
						<svg><use href="#sprite-arrow-thin"></use></svg>
					</a>
				</li>

				<li class="sidebar__menu-item">
					<a href="#reviews" class="sidebar__menu-link">
						<span>Клієнти та відгуки</span>
						<svg><use href="#sprite-arrow-thin"></use></svg>
					</a>
				</li>

				<li class="sidebar__menu-item">
					<a href="#career" class="sidebar__menu-link">
						<span>Кар'єра</span>
						<svg><use href="#sprite-arrow-thin"></use></svg>
					</a>
				</li>

				<li class="sidebar__menu-item">
					<a href="#blog" class="sidebar__menu-link">
						<span>Блог</span>
						<svg><use href="#sprite-arrow-thin"></use></svg>
					</a>
				</li>
			</ul>
		</nav>

		<div class="sidebar__bot">
			<div class="sidebar__phone">
				<a href="tel:+38 (066) 072 54 74" class="sidebar__phone-link">
					<div class="sidebar__phone-icon">
						<svg><use href="#sprite-phone"></use></svg>
					</div>

					<span>+38 (066) 072 54 74</span>
				</a>
			</div>

			<div class="sidebar__email">
				<a href="mailto:office@ghack.agency" class="sidebar__email-link">
					<div class="sidebar__email-icon">
						<svg><use href="#sprite-email"></use></svg>
					</div>

					<span>office@ghack.agency</span>
				</a>
			</div>
		</div>
	</div>
</div>