<section class="blog">
	<div class="page__container">
		<div class="blog__inner">
			<div class="blog__title">
				<h2>Цікавинки з блогу</h2>
			</div>

			<div class="page__slider blog__slider js-blog-slider">
				<div class="blog__slider-inner">
					<div class="swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="blogCard">
									<div class="blogCard__img">
										<img src="/images/blog-1.jpg" alt="img">
									</div>
									
									<div class="blogCard__tags">
										<p>Розробка сайтів</p>
										<p>SMM</p>
										<p>Просування</p>
									</div>

									<div class="blogCard__title">
										<h3>Наскільки міцний фундамент оновленої стратегії OMG Віледж</h3>
									</div>

									<a href="#blog-1" class="blogCard__iconlink">
										<svg><use xlink:href="#sprite-link_arrow"></use></svg>
									</a>

									<a href="#blog-1" class="blogCard__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="blogCard">
									<div class="blogCard__img">
										<img src="/images/blog-2.jpg" alt="img">
									</div>
									
									<div class="blogCard__tags">
										<p>SMM</p>
									</div>

									<div class="blogCard__title">
										<h3>Зустрічайте соцмережі ком'юніті OMG Agency: ваші улюблені акаунти</h3>
									</div>

									<a href="#blog-2" class="blogCard__iconlink">
										<svg><use xlink:href="#sprite-link_arrow"></use></svg>
									</a>

									<a href="#blog-2" class="blogCard__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="blogCard">
									<div class="blogCard__img">
										<img src="/images/blog-3.jpg" alt="img">
									</div>
									
									<div class="blogCard__tags">
										<p>Просування</p>
									</div>

									<div class="blogCard__title">
										<h3>Ці 6 кроків допоможуть органічно зростати вашому Instagram: поради</h3>
									</div>

									<a href="#blog-3" class="blogCard__iconlink">
										<svg><use xlink:href="#sprite-link_arrow"></use></svg>
									</a>

									<a href="#blog-3" class="blogCard__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="blogCard">
									<div class="blogCard__img">
										<img src="/images/blog-1.jpg" alt="img">
									</div>
									
									<div class="blogCard__tags">
										<p>Розробка сайтів</p>
										<p>SMM</p>
										<p>Просування</p>
									</div>

									<div class="blogCard__title">
										<h3>Наскільки міцний фундамент оновленої стратегії OMG Віледж</h3>
									</div>

									<a href="#blog-1" class="blogCard__iconlink">
										<svg><use xlink:href="#sprite-link_arrow"></use></svg>
									</a>

									<a href="#blog-1" class="blogCard__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="blogCard">
									<div class="blogCard__img">
										<img src="/images/blog-2.jpg" alt="img">
									</div>
									
									<div class="blogCard__tags">
										<p>SMM</p>
									</div>

									<div class="blogCard__title">
										<h3>Зустрічайте соцмережі ком'юніті OMG Agency: ваші улюблені акаунти</h3>
									</div>

									<a href="#blog-2" class="blogCard__iconlink">
										<svg><use xlink:href="#sprite-link_arrow"></use></svg>
									</a>

									<a href="#blog-2" class="blogCard__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="blogCard">
									<div class="blogCard__img">
										<img src="/images/blog-3.jpg" alt="img">
									</div>
									
									<div class="blogCard__tags">
										<p>Просування</p>
									</div>

									<div class="blogCard__title">
										<h3>Ці 6 кроків допоможуть органічно зростати вашому Instagram: поради</h3>
									</div>

									<a href="#blog-3" class="blogCard__iconlink">
										<svg><use xlink:href="#sprite-link_arrow"></use></svg>
									</a>

									<a href="#blog-3" class="blogCard__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="blogCard">
									<div class="blogCard__img">
										<img src="/images/blog-1.jpg" alt="img">
									</div>
									
									<div class="blogCard__tags">
										<p>Розробка сайтів</p>
										<p>SMM</p>
										<p>Просування</p>
									</div>

									<div class="blogCard__title">
										<h3>Наскільки міцний фундамент оновленої стратегії OMG Віледж</h3>
									</div>

									<a href="#blog-1" class="blogCard__iconlink">
										<svg><use xlink:href="#sprite-link_arrow"></use></svg>
									</a>

									<a href="#blog-1" class="blogCard__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="blogCard">
									<div class="blogCard__img">
										<img src="/images/blog-2.jpg" alt="img">
									</div>
									
									<div class="blogCard__tags">
										<p>SMM</p>
									</div>

									<div class="blogCard__title">
										<h3>Зустрічайте соцмережі ком'юніті OMG Agency: ваші улюблені акаунти</h3>
									</div>

									<a href="#blog-2" class="blogCard__iconlink">
										<svg><use xlink:href="#sprite-link_arrow"></use></svg>
									</a>

									<a href="#blog-2" class="blogCard__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="blogCard">
									<div class="blogCard__img">
										<img src="/images/blog-3.jpg" alt="img">
									</div>
									
									<div class="blogCard__tags">
										<p>Просування</p>
									</div>

									<div class="blogCard__title">
										<h3>Ці 6 кроків допоможуть органічно зростати вашому Instagram: поради</h3>
									</div>

									<a href="#blog-3" class="blogCard__iconlink">
										<svg><use xlink:href="#sprite-link_arrow"></use></svg>
									</a>

									<a href="#blog-3" class="blogCard__link" target="_blank">link</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="blog__pagination">
					<div class="swiper-pagination"></div>
				</div>
			</div>

			<div class="blog__action">
				<a href="#blog" class="page__button blog__button">
					<span>Всі статті</span>
					<svg><use xlink:href="#sprite-link_arrow"></use></svg>
				</a>
			</div>
		</div>
	</div>
</section>