<section class="calculator">
	<div class="page__container">
		<div class="calculator__inner">
			<div class="calculator__bg"></div>

			<div class="calculator__content">
				<div class="calculator__info">
					<div class="calculator__title">
						<h2>Калькулятор ефективності реклами</h2>
					</div>

					<div class="calculator__desc">
						<p>Ми розробили спеціальний калькулятор, який допоможе вам порахувати ефективність інвестицій в рекламу. Переходьте за посиланням та рахуйте ефективність своїх інвестицій</p>
					</div>
				</div>

				<div class="calculator__action">
					<a href="#" class="page__button page__button_black calculator__action-link">
						<span>Прорахувати ефективність</span>
						<svg><use xlink:href="#sprite-link_arrow"></use></svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>