<section class="cases">
	<div class="page__container">
		<div class="cases__inner">
			<div class="cases__title">
				<h2>Кейси</h2>
			</div>

			<div class="page__slider cases__slider js-cases-slider">
				<div class="cases__navigation">
    				<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>

				<div class="cases__slider-inner">
					<div class="swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="caseCard">
									<div class="caseCard__info">
										<div class="caseCard__title">
											<h3>Hroom</h3>
										</div>

										<div class="caseCard__desc">
											<p>Hroom - бренд з виробництва снеків. Ми отримали задачу створити інтерактивний лендінг для підвищення залученості користувачів та впізнаваності бренду</p>
										</div>

										<div class="caseCard__params">
											<div class="caseCard__param caseCard__param_sm">
												<p>CPV:</p>
												<p>$102.4</p>
											</div>

											<div class="caseCard__param">
												<p>Гео:</p>
												<p>Польща</p>
											</div>

											<div class="caseCard__param caseCard__param_sm">
												<p>CTR:</p>
												<p>15 міс.</p>
											</div>

											<div class="caseCard__param">
												<p>Нових підписників:</p>
												<p>Таргетована реклама</p>
											</div>
										</div>

										<div class="caseCard__tags">
											<p>MetaAds</p>
											<p>Promo</p>
											<p>GoogleAds</p>
											<p>App</p>
										</div>

										<div class="caseCard__action">
											<a href="#case" class="page__button page__button_black caseCard__action-link" target="_blank">
												<span>Дивитись проєкт</span>
												<svg><use xlink:href="#sprite-link_arrow"></use></svg>
											</a>
										</div>
									</div>

									<div class="caseCard__img">
										<img src="/images/case.jpg" alt="case">
									</div>

									<a href="#case" class="caseCard__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="caseCard">
									<div class="caseCard__info">
										<div class="caseCard__title">
											<h3>Magic Moon</h3>
										</div>

										<div class="caseCard__desc">
											<p>Чай Magic Moon - ідеальний вибір для тих, хто шукає спокій та гармонію у кожній чашці. Його неповторний смак поєднує в собі іскристість свіжої малини з ніжністю трав'яних ноток.</p>
										</div>

										<div class="caseCard__params">
											<div class="caseCard__param caseCard__param_sm">
												<p>CPV:</p>
												<p>$102.4</p>
											</div>

											<div class="caseCard__param">
												<p>Гео:</p>
												<p>Польща</p>
											</div>

											<div class="caseCard__param caseCard__param_sm">
												<p>CTR:</p>
												<p>15 міс.</p>
											</div>

											<div class="caseCard__param">
												<p>Нових підписників:</p>
												<p>Таргетована реклама</p>
											</div>
										</div>

										<div class="caseCard__tags">
											<p>MetaAds</p>
											<p>Promo</p>
											<p>GoogleAds</p>
											<p>App</p>
										</div>

										<div class="caseCard__action">
											<a href="#case" class="page__button page__button_black caseCard__action-link" target="_blank">
												<span>Дивитись проєкт</span>
												<svg><use xlink:href="#sprite-link_arrow"></use></svg>
											</a>
										</div>
									</div>

									<div class="caseCard__img">
										<img src="/images/case.jpg" alt="case">
									</div>

									<a href="#case" class="caseCard__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="caseCard">
									<div class="caseCard__info">
										<div class="caseCard__title">
											<h3>Hroom</h3>
										</div>

										<div class="caseCard__desc">
											<p>Hroom - бренд з виробництва снеків. Ми отримали задачу створити інтерактивний лендінг для підвищення залученості користувачів та впізнаваності бренду</p>
										</div>

										<div class="caseCard__params">
											<div class="caseCard__param caseCard__param_sm">
												<p>CPV:</p>
												<p>$102.4</p>
											</div>

											<div class="caseCard__param">
												<p>Гео:</p>
												<p>Польща</p>
											</div>

											<div class="caseCard__param caseCard__param_sm">
												<p>CTR:</p>
												<p>15 міс.</p>
											</div>

											<div class="caseCard__param">
												<p>Нових підписників:</p>
												<p>Таргетована реклама</p>
											</div>
										</div>

										<div class="caseCard__tags">
											<p>MetaAds</p>
											<p>Promo</p>
											<p>GoogleAds</p>
											<p>App</p>
										</div>

										<div class="caseCard__action">
											<a href="#case" class="page__button page__button_black caseCard__action-link" target="_blank">
												<span>Дивитись проєкт</span>
												<svg><use xlink:href="#sprite-link_arrow"></use></svg>
											</a>
										</div>
									</div>

									<div class="caseCard__img">
										<img src="/images/case.jpg" alt="case">
									</div>

									<a href="#case" class="caseCard__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="caseCard">
									<div class="caseCard__info">
										<div class="caseCard__title">
											<h3>Magic Moon</h3>
										</div>

										<div class="caseCard__desc">
											<p>Чай Magic Moon - ідеальний вибір для тих, хто шукає спокій та гармонію у кожній чашці. Його неповторний смак поєднує в собі іскристість свіжої малини з ніжністю трав'яних ноток.</p>
										</div>

										<div class="caseCard__params">
											<div class="caseCard__param caseCard__param_sm">
												<p>CPV:</p>
												<p>$102.4</p>
											</div>

											<div class="caseCard__param">
												<p>Гео:</p>
												<p>Польща</p>
											</div>

											<div class="caseCard__param caseCard__param_sm">
												<p>CTR:</p>
												<p>15 міс.</p>
											</div>

											<div class="caseCard__param">
												<p>Нових підписників:</p>
												<p>Таргетована реклама</p>
											</div>
										</div>

										<div class="caseCard__tags">
											<p>MetaAds</p>
											<p>Promo</p>
											<p>GoogleAds</p>
											<p>App</p>
										</div>

										<div class="caseCard__action">
											<a href="#case" class="page__button page__button_black caseCard__action-link" target="_blank">
												<span>Дивитись проєкт</span>
												<svg><use xlink:href="#sprite-link_arrow"></use></svg>
											</a>
										</div>
									</div>

									<div class="caseCard__img">
										<img src="/images/case.jpg" alt="case">
									</div>

									<a href="#case" class="caseCard__link" target="_blank">link</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cases__pagination">
					<div class="swiper-pagination"></div>
				</div>
			</div>

			<div class="cases__action">
				<a href="#templates" class="page__button cases__button">
					<span>Більше кейсів</span>
					<svg><use xlink:href="#sprite-link_arrow"></use></svg>
				</a>
			</div>
		</div>
	</div>
</section>