<section class="clients">
    <div class="page__container">
        <div class="clients__title">
			<h2>Наші клієнти</h2>
		</div>
    </div>
	
    <div class="clients__slider js-clients-slider">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="clients__logo">
						<img src="/logo/pastelia.svg" alt="Pastelia">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="clients__logo">
						<img src="/logo/asus.svg" alt="Asus">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="clients__logo">
						<img src="/logo/varus.svg" alt="Varus">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="clients__logo">
						<img src="/logo/shark-taxi.svg" alt="Shark taxi">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="clients__logo">
						<img src="/logo/big-bob.svg" alt="Big bob">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="clients__logo">
						<img src="/logo/ahmad-tea.svg" alt="Ahmad tea">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="clients__logo">
						<img src="/logo/silpo.svg" alt="Silpo">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="clients__logo">
						<img src="/logo/bybit.svg" alt="Bybit">
                    </div>
                </div>
				
                <div class="swiper-slide">
                    <div class="clients__logo">
						<img src="/logo/lux-optika.svg" alt="Lux optika">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="clients__logo">
						<img src="/logo/sadochok.svg" alt="Sadochok">
                    </div>
                </div>
            </div>
        </div>

        <div class="clients__gradient clients__gradient_left"></div>
        <div class="clients__gradient clients__gradient_right"></div>
    </div>
</section>