<section class="cooperation">
	<div class="page__container">
		<div class="cooperation__inner">
			<div class="cooperation__title">
				<h2>Як буде виглядати співпраця з <span>Growthy?</span></h2>
			</div>

			<div class="cooperation__desc">
				<p>В нашій співпраці ми чітко визначимо кожен етап, від старту до результату. Протягом роботи ви будете отримувати регулярні звіти та зворотний зв'язок, щоб бути впевненим у прогресі. Ми працюємо так, щоб кожен крок наближав нас до мети.</p>
			</div>

			<div class="cooperation__block js-cooperation">
				<div class="page__accordion2 cooperation__accordion">
					<div class="accordion accordion-flush" id="cooperation">
						<div class="accordion-item active">
							<h2 class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cooperation1" aria-expanded="true" aria-controls="cooperation1">
									Закладаємо базу для результату
								</button>
							</h2>

							<div id="cooperation1" class="accordion-collapse collapse show" data-bs-parent="#cooperation">
								<div class="accordion-body">
									<p>На цьому етапі ми аналізуємо вашу нішу, досліджуємо конкурентів та виявляємо ваші унікальні переваги. На основі отриманих даних розробляємо тактичний план дій та створюємо детальне медіапланування, яке стане основою для досягнення запланованих результатів.</p>
									<p>Цей етап забезпечує чітке розуміння, як ефективно використовувати ресурси та масштабувати ваш проєкт.</p>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cooperation2" aria-expanded="false" aria-controls="cooperation2">
									Перевіряємо в дії
								</button>
							</h2>

							<div id="cooperation2" class="accordion-collapse collapse" data-bs-parent="#cooperation">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cooperation3" aria-expanded="false" aria-controls="cooperation3">
									Вдосконалюємо стратегію
								</button>
							</h2>

							<div id="cooperation3" class="accordion-collapse collapse" data-bs-parent="#cooperation">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cooperation4" aria-expanded="false" aria-controls="cooperation4">
									Збільшуємо масштаби
								</button>
							</h2>

							<div id="cooperation4" class="accordion-collapse collapse" data-bs-parent="#cooperation">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cooperation5" aria-expanded="false" aria-controls="cooperation5">
									Фіксуємо результати
								</button>
							</h2>

							<div id="cooperation5" class="accordion-collapse collapse" data-bs-parent="#cooperation">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cooperation__list">
					<div class="cooperation__item active">
						<div class="cooperation__text">
							<p>Формування стратегії просування</p>
						</div>
					</div>

					<div class="cooperation__item">
						<div class="cooperation__text">
							<p>Запуск та тестування</p>
						</div>
					</div>

					<div class="cooperation__item">
						<div class="cooperation__text">
							<p>Моніторинг та оптимізація</p>
						</div>
					</div>

					<div class="cooperation__item">
						<div class="cooperation__text">
							<p>Масштабування кампанії</p>
						</div>
					</div>

					<div class="cooperation__item">
						<div class="cooperation__text">
							<p>Звітність</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page__bg roadmap">
		<div class="page__container">
			<div class="roadmap__inner">

				<div class="roadmap__title">
					<h2>Roadmap</h2>
				</div>

				<div class="roadmap__desc">
					<p>по роботі з клієнтами</p>
				</div>

				<div class="roadmap__graph js-roadmap step_1">
					<div class="roadmap__img">
						<img src="/images/graph.png" alt="graph">
					</div>

					<div class="roadmap__img_mob">
						<img src="/images/graph_mob.png" alt="graph">
					</div>

					<div class="roadmap__dot"></div>

					<div class="roadmap__name roadmap__name_1">
						<p>Формування стратегії просування</p>

						<div class="roadmap__tag roadmap__tag_1">
							<svg><use xlink:href="#sprite-tag"></use></svg>
						</div>
					</div>

					<div class="roadmap__name roadmap__name_2">
						<p>Запуск та тестування</p>
					</div>

					<div class="roadmap__name roadmap__name_3">
						<p>Моніторинг та оптимізація</p>
					</div>

					<div class="roadmap__name roadmap__name_4">
						<p>Маштубування компанії</p>
					</div>

					<div class="roadmap__name roadmap__name_5">
						<p>Звітність</p>

						<div class="roadmap__tag roadmap__tag_2">
							<svg><use xlink:href="#sprite-tag"></use></svg>
						</div>
					</div>

					<div class="roadmap__text roadmap__text_1">
						<p>Аналіз ніші та конкурентів</p>
					</div>

					<div class="roadmap__text roadmap__text_2">
						<p>Формування тактичних дій</p>
					</div>

					<div class="roadmap__text roadmap__text_3">
						<p>Медіапланування</p>
					</div>

					<div class="roadmap__text roadmap__text_4">
						<p>Тест креативів</p>
					</div>

					<div class="roadmap__text roadmap__text_5">
						<p>Рекламна компанія</p>
					</div>

					<div class="roadmap__text roadmap__text_6">
						<p>Запуск додаткових каналів</p>
					</div>

					<div class="roadmap__text roadmap__text_7">
						<p>Прописання КРІ</p>
					</div>

					<div class="roadmap__text roadmap__text_8">
						<p>підготовка та презентація щотижневих  та щомісячних звітів</p>
					</div>

					<div class="roadmap__day roadmap__day_1">
						<p><span>Термін</span> 8 днів</p>
					</div>

					<div class="roadmap__day roadmap__day_2">
						<p><span>Термін</span> до 30 днів</p>
					</div>

					<div class="roadmap__day roadmap__day_3">
						<p><span>Термін</span> 4 дні</p>
					</div>

					<div class="roadmap__day roadmap__day_4">
						<p><span>Термін</span> від 30 днів</p>
					</div>

					<div class="roadmap__day roadmap__day_5">
						<p><span>Термін</span> 2 дні</p>
					</div>

					<div class="roadmap__month">
						<p>3 місяці</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>