<section class="faq">
	<div class="page__container">
		<div class="faq__inner">
			<div class="faq__title">
				<h2>FAQ</h2>
			</div>

			<div class="page__accordion faq__accordion">
				<div class="accordion accordion-flush" id="faq">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
								Чому варто обрати агенцію digital-маркетингу Growthy
							</button>
						</h2>

						<div id="faq1" class="accordion-collapse collapse" data-bs-parent="#faq">
							<div class="accordion-body">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
								Які послуги інтернет-маркетингу пропонує Growthy
							</button>
						</h2>

						<div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faq">
							<div class="accordion-body">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
								З якими типами бізнесу працює агенція Growthy
							</button>
						</h2>

						<div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faq">
							<div class="accordion-body">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
								Які переваги Growthy перед іншими digital-агенціями 
							</button>
						</h2>

						<div id="faq4" class="accordion-collapse collapse" data-bs-parent="#faq">
							<div class="accordion-body">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
								Як замовити послуги інтернет-маркетингу в Growthy
							</button>
						</h2>

						<div id="faq5" class="accordion-collapse collapse" data-bs-parent="#faq">
							<div class="accordion-body">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="faq__scroll">
				<div class="faq__scroll-content">
					<h3>Вирішуємо маркетингові завдання клієнтів  digital-інструментами</h3>
					<p>Сьогодні бізнес залежать від інструментів цифрового маркетингу, щоб вижити. Звучить драматично, чи не так? Але врахуйте, що потужний технологічний стек сприяє зростанню та гарантує, що ви не витрачатимете свій дорогоцінний час на нудні завдання. З іншого боку, якщо ви не скористаєтеся перевагами сучасних маркетингових інструментів, ваш бізнес може відстати від конкурентів.</p>
					<p>Сьогодні бізнес залежать від інструментів цифрового маркетингу, щоб вижити. Звучить драматично, чи не так? Але врахуйте, що потужний технологічний стек сприяє зростанню та гарантує, що ви не витрачатимете свій дорогоцінний час на нудні завдання. З іншого боку, якщо ви не скористаєтеся перевагами сучасних маркетингових інструментів, ваш бізнес може відстати від конкурентів.</p>
					<p>Сьогодні бізнес залежать від інструментів цифрового маркетингу, щоб вижити. Звучить драматично, чи не так? Але врахуйте, що потужний технологічний стек сприяє зростанню та гарантує, що ви не витрачатимете свій дорогоцінний час на нудні завдання. З іншого боку, якщо ви не скористаєтеся перевагами сучасних маркетингових інструментів, ваш бізнес може відстати від конкурентів.</p>
				</div>
			</div>
		</div>
	</div>
</section>