<section class="hero">
    <div class="page__container">
        <div class="hero__inner">
			<div class="hero__title">
                <h1>Агенція діджитал - маркетингу <span>Growthy</span></h1>
			</div>

            <div class="hero__group">
                <div class="hero__bg"></div>

				<div class="hero__slogan">
					<p class="js-slogan" data-slogans="
						Просто робимо й гарантуємо результат. Ви контролюєте метрики, ми — фокусуємось на KPI|
						Ви ставите цілі — ми досягаємо результатів. Маркетинг, що працює. Бізнес, що зростає|
						Знаходимо рішення, які приносять результат. Ваш прибуток — наша стратегія|
						Залучаємо, утримуємо, масштабуємо. Ми — драйвер вашого зростання">
					</p>
				</div>

                <div class="hero__actions">
                    <a href="#" class="page__button page__button_black hero__btn hero__btn_black">Написати в Telegram</a>
                    <a href="#" class="page__button page__button_white hero__btn hero__btn_white">
                        <span>Замовити аудит проекту</span>
                        <svg><use xlink:href="#sprite-link_arrow"></use></svg>
                    </a>
                </div>
            </div>

            <div class="hero__cards js-hero-cards">
                <div class="hero__card js-hero-card">
                    <img src="/images/hero_card_1.jpg" alt="card">

					<div class="hero__card-text">
						<p class="hero__card-number js-hero-counter" data-target="114">
							<span>0</span>
							<span>+</span>
						</p>
						<p class="hero__card-proj">активних проєктів</p>
					</div>

					<a href="#" class="hero__card-link">link</a>
                </div>

                <div class="hero__card js-hero-card">
                    <img src="/images/hero_card_2.jpg" alt="card">

					<div class="hero__card-text">
						<p class="hero__card-title">Digital</p>
						<p class="hero__card-desc">Аналітика</p>
					</div>

					<a href="#" class="hero__card-link">link</a>
                </div>

                <div class="hero__card js-hero-card">
                    <img src="/images/hero_card_3.jpg" alt="card">

					<a href="#" class="hero__card-link">link</a>
                </div>

                <div class="hero__card js-hero-card">
                    <img src="/images/hero_card_4.jpg" alt="card">

					<a href="#" class="hero__card-link">link</a>
                </div>

                <div class="hero__card js-hero-card">
                    <img src="/images/hero_card_5.jpg" alt="card">

					<a href="#" class="hero__card-link">link</a>
                </div>

                <div class="hero__card js-hero-card">
                    <img src="/images/hero_card_6.jpg" alt="card">

					<div class="hero__card-text">
						<p class="hero__card-title">SMM</p>
						<p class="hero__card-desc">Просування</p>
					</div>

					<a href="#" class="hero__card-link">link</a>
                </div>

                <div class="hero__card js-hero-card">
                    <img src="/images/hero_card_7.jpg" alt="card">

					<a href="#" class="hero__card-link">link</a>
                </div>

                <div class="hero__card js-hero-card">
                    <img src="/images/hero_card_8.jpg" alt="card">

					<a href="#" class="hero__card-link">link</a>
                </div>
            </div>
        </div>
    </div>
</section>