<section class="results">
	<div class="page__container">
		<div class="results__inner">
			<div class="results__title">
				<h2>Реклама в інтернеті не приносить результатів?</h2>
			</div>

			<div class="results__content js-results">
				<div class="results__list">
					<div class="results__item active">
						<p>Не знаєте, який канал ефективний для вашого бізнесу? Meta Ads, Googe Ads бо SEO?</p>
						<div class="results__icon">
							<svg><use xlink:href="#sprite-arrow-thin"></use></svg>
						</div>
					</div>

					<div class="results__item">
						<p>Ваші підрядники обіцяли багато, але результату так і не було?</p>
						<div class="results__icon">
							<svg><use xlink:href="#sprite-arrow-thin"></use></svg>
						</div>
					</div>

					<div class="results__item">
						<p>Запускаєте рекламу хаотично, а продажі не стабільні?</p>
						<div class="results__icon">
							<svg><use xlink:href="#sprite-arrow-thin"></use></svg>
						</div>
					</div>

					<div class="results__item">
						<p>Вам потрібно закрити всі запити в маркетингу?</p>
						<div class="results__icon">
							<svg><use xlink:href="#sprite-arrow-thin"></use></svg>
						</div>
					</div>
				</div>

				<div class="results__details">
					<div class="results__detail active">
						<div class="results__text">
							<p>Ми це дослідимо! <br>Замість здогадок ми виконуємо детальний аналіз вашої бізнесу, ринку, конкурентів і аудиторії, щоб запропонувати оптимальне рішення</p> 
						</div>

						<div class="results__action">
							<a href="#" class="page__button results__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="results__detail">
						<div class="results__text">
							<p>Lorem 222 ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p> 
						</div>

						<div class="results__action">
							<a href="#" class="page__button results__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="results__detail">
						<div class="results__text">
							<p>Lorem 333 ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
						</div>

						<div class="results__action">
							<a href="#" class="page__button results__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="results__detail">
						<div class="results__text">
							<p>Lorem 444 ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
						</div>

						<div class="results__action">
							<a href="#" class="page__button results__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>