<section class="reviews">
	<div class="page__container">
		<div class="reviews__inner">
			<div class="reviews__title">
				<h2>Відгуки клієнтів</h2>
			</div>

			<div class="page__slider reviews__slider js-reviews-slider">
				<div class="reviews__slider-inner">
					<div class="swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="review review_blue">
									<div class="review__date">
										<p>2025-01-02</p>
									</div>

									<div class="review__text">
										<p>Вирішуємо маркетингові задачі клієнтів за допомогою digital-інструментів. Це підхід до розвитку бізнесу</p>
									</div>

									<div class="review__person">
										<div class="review__avatar">
											<img src="/images/avatar-1.jpg" alt="avatar">
										</div>

										<div class="review__about">
											<div class="review__name">
												<p>James Wolters</p>
											</div>

											<div class="review__post">
												<p>iLab, Marketing manager</p>
											</div>
										</div>
									</div>

									<a href="#review-1" class="review__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="review">
									<div class="review__date">
										<p>2025-01-02</p>
									</div>

									<div class="review__text">
										<p>Вирішуємо маркетингові задачі клієнтів за допомогою digital-інструментів. Це підхід до розвитку бізнесу</p>
									</div>

									<div class="review__person">
										<div class="review__avatar">
											<img src="/images/avatar-1.jpg" alt="avatar">
										</div>

										<div class="review__about">
											<div class="review__name">
												<p>James Wolters</p>
											</div>

											<div class="review__post">
												<p>iLab, Marketing manager</p>
											</div>
										</div>
									</div>

									<a href="#review-2" class="review__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide big">
								<div class="review">
									<div class="review__date">
										<p>2025-01-02</p>
									</div>

									<div class="review__text">
										<p>Вирішуємо маркетингові задачі клієнтів за допомогою digital-інструментів. Це підхід до розвитку бізнесу.Вирішуємо маркетингові задачі клієнтів за допомогою digital-інструментів. Це підхід до розвитку бізнесу</p>
									</div>

									<div class="review__person">
										<div class="review__avatar">
											<img src="/images/avatar-2.jpg" alt="avatar">
										</div>

										<div class="review__about">
											<div class="review__name">
												<p>James Wolters</p>
											</div>

											<div class="review__post">
												<p>iLab, Marketing manager</p>
											</div>
										</div>
									</div>

									<a href="#review-3" class="review__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="review review_video">
									<div class="review__img">
										<img src="/images/review.jpg" alt="review">
									</div>

									<div class="review__person">
										<div class="review__about">
											<div class="review__name">
												<p>Lisa Stinger</p>
											</div>

											<div class="review__post">
												<p>DigiSack, CEO</p>
											</div>
										</div>
									</div>

									<a href="#review-4" class="review__link" target="_blank">
										<svg><use xlink:href="#sprite-play"></use></svg>
									</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="review review_image">
									<div class="review__img">
										<img src="/images/review.jpg" alt="review">
									</div>

									<a href="#review-5" class="review__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide big">
								<div class="review review_blue">
									<div class="review__date">
										<p>2025-01-02</p>
									</div>

									<div class="review__text">
										<p>Вирішуємо маркетингові задачі клієнтів за допомогою digital-інструментів. Це підхід до розвитку бізнесу.Вирішуємо маркетингові задачі клієнтів за допомогою digital-інструментів. Це підхід до розвитку бізнесу</p>
									</div>

									<div class="review__person">
										<div class="review__avatar">
											<img src="/images/avatar-1.jpg" alt="avatar">
										</div>

										<div class="review__about">
											<div class="review__name">
												<p>James Wolters</p>
											</div>

											<div class="review__post">
												<p>iLab, Marketing manager</p>
											</div>
										</div>
									</div>

									<a href="#review-6" class="review__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="review">
									<div class="review__date">
										<p>2025-01-02</p>
									</div>

									<div class="review__text">
										<p>Вирішуємо маркетингові задачі клієнтів за допомогою digital-інструментів. Це підхід до розвитку бізнесу</p>
									</div>

									<div class="review__person">
										<div class="review__avatar">
											<img src="/images/avatar-1.jpg" alt="avatar">
										</div>

										<div class="review__about">
											<div class="review__name">
												<p>James Wolters</p>
											</div>

											<div class="review__post">
												<p>iLab, Marketing manager</p>
											</div>
										</div>
									</div>

									<a href="#review-7" class="review__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="review review_blue">
									<div class="review__date">
										<p>2025-01-02</p>
									</div>

									<div class="review__text">
										<p>Вирішуємо маркетингові задачі клієнтів за допомогою digital-інструментів. Це підхід до розвитку бізнесу</p>
									</div>

									<div class="review__person">
										<div class="review__avatar">
											<img src="/images/avatar-1.jpg" alt="avatar">
										</div>

										<div class="review__about">
											<div class="review__name">
												<p>James Wolters</p>
											</div>

											<div class="review__post">
												<p>iLab, Marketing manager</p>
											</div>
										</div>
									</div>

									<a href="#review-8" class="review__link" target="_blank">link</a>
								</div>
							</div>

							<div class="swiper-slide big">
								<div class="review">
									<div class="review__date">
										<p>2025-01-02</p>
									</div>

									<div class="review__text">
										<p>Вирішуємо маркетингові задачі клієнтів за допомогою digital-інструментів. Це підхід до розвитку бізнесу.Вирішуємо маркетингові задачі клієнтів за допомогою digital-інструментів. Це підхід до розвитку бізнесу</p>
									</div>

									<div class="review__person">
										<div class="review__avatar">
											<img src="/images/avatar-1.jpg" alt="avatar">
										</div>

										<div class="review__about">
											<div class="review__name">
												<p>James Wolters</p>
											</div>

											<div class="review__post">
												<p>iLab, Marketing manager</p>
											</div>
										</div>
									</div>

									<a href="#review-9" class="review__link" target="_blank">link</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="reviews__pagination">
					<div class="swiper-pagination"></div>
				</div>
			</div>

			<div class="reviews__action">
				<a href="#blog" class="page__button reviews__button">
					<span>Більше відгуків</span>
					<svg><use xlink:href="#sprite-link_arrow"></use></svg>
				</a>
			</div>
		</div>
	</div>
</section>