<section class="runline">
	<div class="runline__slider js-runline-slider">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<p class="runline__text">Growthy digital marketing</p>
				</div>

				<div class="swiper-slide">
					<p class="runline__text">Growthy digital dominance</p>
				</div>

				<div class="swiper-slide">
					<p class="runline__text">Growthy marketing mastery</p>
				</div>

				<div class="swiper-slide">
					<p class="runline__text">Growthy elevates brands</p>
				</div>

				<div class="swiper-slide">
					<p class="runline__text">Growthy empowers businesses</p>
				</div>

				<div class="swiper-slide">
					<p class="runline__text">Growthy drives innovation</p>
				</div>

				<div class="swiper-slide">
					<p class="runline__text">Growthy boosts profits</p>
				</div>

				<div class="swiper-slide">
					<p class="runline__text">Growthy fuels momentum</p>
				</div>
			</div>
		</div>

		<div class="runline__gradient runline__gradient_left"></div>
		<div class="runline__gradient runline__gradient_right"></div>
	</div>
</section>