<section class="service">
	<div class="page__container">
		<div class="service__inner">
			<div class="service__title">
				<h2>Наші послуги</h2>
			</div>

			<div class="service__content js-service">
				<div class="service__details">
					<div class="service__detail">
						<div class="service__text">
							<h3>Контекстна та медійна реклама</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p> 
						</div>

						<div class="service__action">
							<a href="#" class="page__button service__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="service__detail active">
						<div class="service__text">
							<h3>Таргетована реклама в Facebook</h3>
							<p>Це потужний інструмент для просування вашого бізнесу <br>Вона дозволяє знаходити саме ту аудиторію, яка зацікавлена ​​у вашому продукті або послузі.</p> 
						</div>

						<div class="service__action">
							<a href="#" class="page__button service__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="service__detail">
						<div class="service__text">
							<h3>SEO-просування сайтів</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
						</div>

						<div class="service__action">
							<a href="#" class="page__button service__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="service__detail">
						<div class="service__text">
							<h3>SMM просування</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
						</div>

						<div class="service__action">
							<a href="#" class="page__button service__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="service__detail">
						<div class="service__text">
							<h3>Аудит</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
						</div>

						<div class="service__action">
							<a href="#" class="page__button service__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="service__detail">
						<div class="service__text">
							<h3>Розробка стратегій маркетингу та бренду</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
						</div>

						<div class="service__action">
							<a href="#" class="page__button service__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="service__detail">
						<div class="service__text">
							<h3>Просування мобільних застосунків</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
						</div>

						<div class="service__action">
							<a href="#" class="page__button service__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="service__detail">
						<div class="service__text">
							<h3>Розробка</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
						</div>

						<div class="service__action">
							<a href="#" class="page__button service__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>

					<div class="service__detail">
						<div class="service__text">
							<h3>Digital аналітика</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
						</div>

						<div class="service__action">
							<a href="#" class="page__button service__action-link">
								<span>Замовити консультацію</span>
								<svg><use xlink:href="#sprite-link_arrow"></use></svg>
							</a>
						</div>
					</div>
				</div>

				<div class="page__accordion service__accordion">
					<div class="accordion accordion-flush" id="service">
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#service1" aria-expanded="false" aria-controls="service1">
									Контекстна та медійна реклама
								</button>
							</h2>

							<div id="service1" class="accordion-collapse collapse" data-bs-parent="#service">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>

									<div class="service__details">
										<div class="service__detail">
											<div class="service__text">
												<h3>Контекстна та медійна реклама</h3>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p> 
											</div>

											<div class="service__action">
												<a href="#" class="page__button service__action-link">
													<span>Замовити консультацію</span>
													<svg><use xlink:href="#sprite-link_arrow"></use></svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#service2" aria-expanded="true" aria-controls="service2">
									Таргетована реклама
								</button>
							</h2>

							<div id="service2" class="accordion-collapse collapse show" data-bs-parent="#service">
								<div class="accordion-body">
									<ul class="service__list">
										<li><a href="#" class="service__list-link" target="_blank">Таргетована реклама в FaceBook</a></li>
										<li><a href="#" class="service__list-link" target="_blank">Таргетована реклама в Tik Tok</a></li>
										<li><a href="#" class="service__list-link" target="_blank">Таргетована реклама в Instagram</a></li>
										<li><a href="#" class="service__list-link" target="_blank">Таргетована реклама в Facebook</a></li>
										<li><a href="#" class="service__list-link" target="_blank">Таргетована реклама в Linkedin</a></li>
										<li><a href="#" class="service__list-link" target="_blank">Налаштування Бізнес менеджера Facebook</a></li>
									</ul>

									<div class="service__details">
										<div class="service__detail">
											<div class="service__text">
												<h3>Таргетована реклама в Facebook</h3>
												<p>Це потужний інструмент для просування вашого бізнесу <br>Вона дозволяє знаходити саме ту аудиторію, яка зацікавлена ​​у вашому продукті або послузі.</p> 
											</div>

											<div class="service__action">
												<a href="#" class="page__button service__action-link">
													<span>Замовити консультацію</span>
													<svg><use xlink:href="#sprite-link_arrow"></use></svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#service3" aria-expanded="false" aria-controls="service3">
									SEO-просування сайтів
								</button>
							</h2>

							<div id="service3" class="accordion-collapse collapse" data-bs-parent="#service">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>

									<div class="service__details">
										<div class="service__detail">
											<div class="service__text">
												<h3>SEO-просування сайтів</h3>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
											</div>

											<div class="service__action">
												<a href="#" class="page__button service__action-link">
													<span>Замовити консультацію</span>
													<svg><use xlink:href="#sprite-link_arrow"></use></svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#service4" aria-expanded="false" aria-controls="service4">
									SMM просування
								</button>
							</h2>

							<div id="service4" class="accordion-collapse collapse" data-bs-parent="#service">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>

									<div class="service__details">
										<div class="service__detail">
											<div class="service__text">
												<h3>SMM просування</h3>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
											</div>

											<div class="service__action">
												<a href="#" class="page__button service__action-link">
													<span>Замовити консультацію</span>
													<svg><use xlink:href="#sprite-link_arrow"></use></svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#service5" aria-expanded="false" aria-controls="service5">
									Аудит
								</button>
							</h2>

							<div id="service5" class="accordion-collapse collapse" data-bs-parent="#service">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>

									<div class="service__details">
										<div class="service__detail">
											<div class="service__text">
												<h3>Аудит</h3>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
											</div>

											<div class="service__action">
												<a href="#" class="page__button service__action-link">
													<span>Замовити консультацію</span>
													<svg><use xlink:href="#sprite-link_arrow"></use></svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#service6" aria-expanded="false" aria-controls="service6">
									Розробка стратегій маркетингу та бренду
								</button>
							</h2>

							<div id="service6" class="accordion-collapse collapse" data-bs-parent="#service">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>

									<div class="service__details">
										<div class="service__detail">
											<div class="service__text">
												<h3>Розробка стратегій маркетингу та бренду</h3>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
											</div>

											<div class="service__action">
												<a href="#" class="page__button service__action-link">
													<span>Замовити консультацію</span>
													<svg><use xlink:href="#sprite-link_arrow"></use></svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#service7" aria-expanded="false" aria-controls="service7">
									Просування мобільних застосунків
								</button>
							</h2>

							<div id="service7" class="accordion-collapse collapse" data-bs-parent="#service">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>

									<div class="service__details">
										<div class="service__detail">
											<div class="service__text">
												<h3>Просування мобільних застосунків</h3>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
											</div>

											<div class="service__action">
												<a href="#" class="page__button service__action-link">
													<span>Замовити консультацію</span>
													<svg><use xlink:href="#sprite-link_arrow"></use></svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#service8" aria-expanded="false" aria-controls="service8">
									Розробка
								</button>
							</h2>

							<div id="service8" class="accordion-collapse collapse" data-bs-parent="#service">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>

									<div class="service__details">
										<div class="service__detail">
											<div class="service__text">
												<h3>Розробка</h3>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
											</div>

											<div class="service__action">
												<a href="#" class="page__button service__action-link">
													<span>Замовити консультацію</span>
													<svg><use xlink:href="#sprite-link_arrow"></use></svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#service9" aria-expanded="false" aria-controls="service9">
									Digital аналітика
								</button>
							</h2>

							<div id="service9" class="accordion-collapse collapse" data-bs-parent="#service">
								<div class="accordion-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corporis illo delectus labore aperiam veniam odit quis asperiores dolorem repellat! Eius rem laboriosam quae aut saepe magni adipisci cumque inventore.</p>

									<div class="service__details">
										<div class="service__detail">
											<div class="service__text">
												<h3>Digital аналітика</h3>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora voluptatibus quisquam dolorem quam</p>
											</div>

											<div class="service__action">
												<a href="#" class="page__button service__action-link">
													<span>Замовити консультацію</span>
													<svg><use xlink:href="#sprite-link_arrow"></use></svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>