<section class="values">
	<div class="page__container">
		<div class="values__inner">
			<div class="values__title">
				<h2>Цінності, на яких будується робота</h2>
			</div>

			<div class="values__cards js-values-cards">
				<div class="values__scroll">
					<div class="values__card js-values-card">
						<div class="values__card-icon values__card-icon_1">
							<svg><use xlink:href="#sprite-values_card_1"></use></svg>
						</div>

						<div class="values__card-title">
							<h4>Довіра до бренду</h4>
						</div>

						<div class="values__card-desc">
							<p>Наша репутація, побудована на результатах, а не обіцянках. Нам довіряють провідні бренди України та світу: Kingston, Asus, Farmak, МХП</p>
						</div>
					</div>

					<div class="values__card js-values-card">
						<div class="values__card-icon values__card-icon_2">
							<svg><use xlink:href="#sprite-values_card_2"></use></svg>
						</div>

						<div class="values__card-title">
							<h4>Прозорість і чесність</h4>
						</div>

						<div class="values__card-desc">
							<p>Ми працюємо відкрито, надаючи доступ до всіх метрик у реальному часі. Якщо ми не впевнені в результатах — проєкт не запускаємо</p>
						</div>
					</div>

					<div class="values__card js-values-card">
						<div class="values__card-icon values__card-icon_3">
							<svg><use xlink:href="#sprite-values_card_3"></use></svg>
						</div>

						<div class="values__card-title">
							<h4>Індивідуальний підхід</h4>
						</div>

						<div class="values__card-desc">
							<p>Розробляємо стратегії, адаптовані до специфіки кожного проєкту. Ми створюємо стратегії, які враховують особливості вашої галузі, аудиторії та конкурентного середовища.</p>
						</div>
					</div>

					<div class="values__card js-values-card">
						<div class="values__card-icon values__card-icon_4">
							<svg><use xlink:href="#sprite-values_card_4"></use></svg>
						</div>

						<div class="values__card-title">
							<h4>Сучасність і креативність</h4>
						</div>

						<div class="values__card-desc">
							<p>Слідкуємо за трендами 24/7. Знаємо, що актуально сьогодні, і впроваджуємо це у ваш проєкт</p>
						</div>
					</div>

					<div class="values__card js-values-card">
						<div class="values__card-icon values__card-icon_5">
							<svg><use xlink:href="#sprite-values_card_5"></use></svg>
						</div>

						<div class="values__card-title">
							<h4>Працюємо на результат, як для власного бізнесу</h4>
						</div>

						<div class="values__card-desc">
							<p>Ми працюємо разом як одна команда, узгоджуємо стратегічні рішення і реалізуємо їх, орієнтуючись на досягнення ваших KPI</p>
						</div>
					</div>
				</div>
			</div>

			<div class="values__about">
				<div class="values__subtitle">
					<h3>Про нас</h3>
				</div>

				<div class="values__desc">
					<p>Наш підхід заснований на чіткому медіаплануванні, що дозволяє гарантувати результат та ефективне досягнення ваших бізнес-цілей.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="page__bg values__content">
		<div class="page__container">
			<div class="values__content-inner">
				<div class="values__details">
					<div class="values__info">
						<div class="values__growthy">
							<svg><use xlink:href="#sprite-growthy"></use></svg>
						</div>

						<div class="values__text">
							<p>Ми агенція повного циклу, яка надає комплекс маркетингових послуг: від дослідження ринку й розробки стратегії до створення сайтів, застосунків, запуску реклами та налаштування наскрізної аналітики.</p>
						</div>
					</div>
					
					<div class="values__img">
						<img src="/images/logos.jpg" alt="logos">
					</div>
				</div>

				<div class="values__stats">
					<div class="values__stat">
						<div class="values__stat-main">
							<p class="js-counter" data-target="260000">
								<span>0</span>
								<span>$</span>
							</p>
						</div>

						<div class="values__stat-desc">
							<p>середньомісячний спенд</p>
						</div>
					</div>

					<div class="values__stat">
						<div class="values__stat-main">
							<p class="js-counter" data-target="114">
								<span>0</span>
								<span>+</span>
							</p>
						</div>

						<div class="values__stat-desc">
							<p>активних проєктів</p>
						</div>
					</div>

					<div class="values__stat">
						<div class="values__stat-main">
							<p class="js-counter" data-target="93">
								<span>0</span>
								<span>%</span>
							</p>
						</div>

						<div class="values__stat-desc">
							<p>клієнтів продовжують з нами роботу</p>
						</div>
					</div>

					<div class="values__stat">
						<div class="values__stat-main">
							<p class="js-counter" data-target="32">
								<span>0</span>
								<span>+</span>
							</p>
						</div>

						<div class="values__stat-desc">
							<p>фахівця в команді</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>